[SERVICE]
    Flush        1
    Log_Level    info
    Daemon       off

[INPUT]
    Name         tail
    Path         ${LOG_PATH}/*.log  # Use the environment variable and pattern for log files
    Parser       docker
    Tag          kube.*

[OUTPUT]
    Name         loki
    Match        *
    Host         loki
    Port         3100
    Labels       job=fluent-bit
